body {
	padding-top: 5rem;
	background: grey;
}

.img-circle {
	width: 240px; /*odd bug with sizing; workaround*/
}

.glassish {
	background: rgba(236, 238, 239, 0.8);
}

.btn {
	transition: background-color .5s, border-color .5s;
}

.btn-github,
.btn-github:visited,
.btn-github:link,
.btn-github:active {
	color: #fff;
	background-color: #4078c0;
	border-color: #4078c0;
	text-decoration: none;
}

.btn-github:hover {
	background-color: #3f5fbf;
	border-color: #3f5fbf;
}

#background {
	z-index: -999;
	position: fixed;
	top: 0px;
	left: 0px;
	min-width: 100%;
	min-height: 100%;
	transition: background 2s;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}