/*
 * General stuff for the site
 */

body {
	background: grey;
}

.footer {
	background-color: #f8f9fa;
  }

#prideBackgroundTarget {
	z-index: -9999;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgb(53, 53, 53);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
