body {
	padding-top: 5rem;
	background: grey;
}

.img-circle {
	width: 240px; /*odd bug with sizing; workaround*/
}

.glassish {
	background: rgba(236, 238, 239, 0.8);
}

.btn {
	transition: background-color .5s, border-color .5s, color 1s;
}

.btn-github,
.btn-github:visited,
.btn-github:link,
.btn-github:active {
	color: black;
	background-color: rgba(236, 238, 239, 0.8);
	border-color: #fff;
	text-decoration: none;
}

.btn-github:hover {
	color: #fff;
	background-color: #4078c0;
	border-color: #4078c0;
}

#background {
	z-index: -999;
	position: fixed;
	top: 0px;
	left: 0px;
	min-width: 100%;
	min-height: 100%;
	transition: background 2s;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}